.AppContainer {
    display:inline-block;
    background-color: rgb(212, 212, 212);
    outline: outset 5px rgb(212, 212, 212);
}

.TopBar {
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: rgb(179, 179, 179);
    padding: 10px;
}

.Difficulties {
    display:flex;
    flex-direction: row;
}
.Difficulties > div {
    margin-right: 20px;
}

.Restart {
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 20px;
    height:20px;
    background-color: rgb(212, 212, 212);
    outline: outset 2px rgb(212, 212, 212);
}

.GameContainer {
    display:inline-block;
    border: outset 4px rgb(212, 212, 212); 
}

div:focus {
    outline: none;
}

.rowCell {
    display: flex;
    flex-direction: row;

}

.inRowCell {
    display:flex;
}


.unTouchedCellSquare {
    background-color: rgb(175, 175, 175);
    width:20px;
    height:20px;
    border: outset 1px rgb(212, 212, 212); 

}

.visibleCellSquare {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(207, 207, 207);
    width: 20px;
    height: 20px;
    border: solid 1px rgba(92, 92, 92, 0.164);

}

.mineCellSquare {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 77, 77);
    width:20px;
    height:20px;
    border: solid 1px rgb(148, 148, 148);

}

.flaggedCellSquare {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(175, 175, 175);
    color: #fff;
    width:20px;
    height:20px;
    border: outset 1px rgb(212, 212, 212);
}

.flaggedMineSquare {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 67, 67);
    color: #fff;
    width:20px;
    height:20px;
    border: outset 1px rgb(212, 212, 212);  
}

img {
    width: 15px;
    height: 15px;
}

