.TopBar {
    display:flex;
    flex-direction: row;
    justify-content: flex-start;
}

.TopBar > div {
    margin-right: 20px;
  }


.GameContainer {
    display:inline-block;
    border: solid;
}

.rowCell {
    display: flex;
    flex-direction: row;

}

.inRowCell {
    display:flex;
}


.unTouchedCellSquare {
    background-color: #eee;
    width:20px;
    height:20px;
    border: solid 1px rgb(212, 212, 212); 

}

.mineCellSquare {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 77, 77);
    width:20px;
    height:20px;
    border: solid 1px rgb(212, 212, 212); ;

}

.flaggedCellSquare {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(111, 0, 255);
    color: #fff;
    width:20px;
    height:20px;
    border: solid 1px rgb(212, 212, 212); ;

}

.visibleCellSquare {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(0, 255, 98);
    width: 20px;
    height: 20px;
    border: solid 1px rgb(212, 212, 212); ;

}